<header>
<h1>Todo List!</h1> 

<form class="new-task" data-ng-submit="$ctrl.addTask($ctrl.newTask)">
    <input data-ng-model="$ctrl.newTask" name="newTask" value="newTask" type="text" placeholder="Type to add new task!" />
</form>
</header>

<ul>
    <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked':task.checked}">
        <button class="delete" ng-click="$ctrl.removeTask(task)">&times;</button>
        <input type="checkbox" ng-click="$ctrl.setTask(task)" ng-checked="task.checked" class="toggle-checked"/>
        <span class="text">
        {{task.text}}</span>
        </li>
</ul>